@page
@model LogServer.Web.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LogEvent[0].Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogEvent[0].Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogEvent[0].RenderedMessage)
            </th>         
           
            
            <th>
                @Html.DisplayNameFor(model => model.LogEvent[0].CorrelationId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LogEvent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RenderedMessage)
            </td>
            
          
           
            <td>
                @Html.DisplayFor(modelItem => item.CorrelationId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
